/* Main body background */
body {
  background-color: #fffacd;
  direction: rtl;
  background: url("../image/kidsFunnyFood.jpg") repeat center;
  background-size: cover;
}

/* Header styling */
header {
  background-color: yellow;
  padding: 10px;
  text-align: center;
}

.nameInputContainer {
  margin: auto;
  width: 50%;
}

/* Section styling */
section {
  margin-top: 50px;
  text-align: center;
}

.card {
  background-color: #ffffff86;
  background-color: #3333336a;
  color: white;
  box-shadow: 2px 2px 5px #888888;
  margin: 20px;
  padding: 10px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.card-title {
  font-size: 24px;
  margin-bottom: 0;
}

.card-title i {
  color: yellow;
  font-size: 28px;
  margin-left: 5px;
}

.card-text {
  font-size: 18px;
}

/* Footer styling */
footer {
  background-color: rgb(255, 255, 0);
  color: #ffffff;
  color: #333;
  padding: 10px;
  text-align: center;
}

h1,
h2,
h3 {
  font-family: "Comic Sans MS", cursive, sans-serif;
}

/*  */
/* CSS */

/* Adding animated transitions:*/
/* CSS */
.fade-in {
  animation: fade-in 1s;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
